# Virtual Environment
env/
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Streamlit
.streamlit/
.airflow_env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Virtual Environments
env/
venv/
airflow/airflow_env/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Streamlit
.streamlit/

# Airflow
airflow/logs/
airflow/airflow.cfg
airflow/airflow.db

# IDE Files
.vscode/
.idea/